html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Arvo", serif, serif;
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.3em;
}

p {
  font-family: "Barlow", sans-serif;
}

.heroImage {
  max-width: 80vw;
  height: 50vh;
}
.heroImage img {
  height: auto;
  width: 300px;
}
@media screen and (min-width: 768px) {
  .heroImage img {
    width: 350px;
  }
}
@media screen and (min-width: 768px) {
  .heroImage {
    width: 50%;
  }
}

.CTA_TEST {
  margin-block: 1em;
  background-color: #E8AA14;
  color: #8860D0;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.CTA_TEST:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-box-shadow: 0px 11px 8px 0px inset rgba(0, 0, 0, 0.2);
          box-shadow: 0px 11px 8px 0px inset rgba(0, 0, 0, 0.2);
}

.CTA_DONATE {
  margin-block: 1em;
  background-color: #540d6e;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.CTA_DONATE:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-box-shadow: 0px 11px 8px 0px inset rgba(0, 0, 0, 0.2);
          box-shadow: 0px 11px 8px 0px inset rgba(0, 0, 0, 0.2);
}

h2 {
  font-family: "Arvo", serif;
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.btnWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.navBar {
  -webkit-transform: translateX(-50em);
          transform: translateX(-50em);
  width: 250px;
  height: 100%;
  top: 0;
  background-color: #D0D6B5;
  padding: 1em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: fixed;
  z-index: 2;
}
.navBar .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
.navBar .close ion-icon {
  font-size: 2em;
}
.navBar ul {
  padding-top: 1.2em;
}
.navBar li, .navBar a {
  color: #101935;
  cursor: pointer;
  font-family: "Barlow", sans-serif;
}
.navBar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  padding: 1em;
  margin-inline: -10px;
}
.navBar li:hover {
  background-color: #002626;
  color: #fff;
}
.navBar li:hover a {
  color: #fff;
}

#nav__about,
#nav__Test,
#nav__Information {
  position: absolute;
  width: 250px;
  height: 100%;
  top: 0;
  -webkit-transform: translateX(-50em);
          transform: translateX(-50em);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #D0D6B5;
  padding-top: 3em;
}

.back {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.back ion-icon {
  font-size: 2em;
  margin-top: 0.5em;
}

.navBar.active {
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
}

#nav__about.active {
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
}

#nav__Test.active {
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
}

#nav__Information.active {
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
}

.dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2em;
  width: 3em;
  padding: 3px;
  border-radius: 1em;
  background-color: #fff;
  margin-right: 0.5em;
  font-size: 1em;
  background-color: #D72638;
  color: #fff;
}

.margin {
  margin-left: 2em;
}

.imageCarousel .listContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.imageCarousel .image {
  background-color: red;
  height: 7em;
  width: 7em;
}

#nav__about--tablet,
#nav__Test--tablet,
#nav__Information--tablet {
  position: absolute;
  top: 4em;
  left: 8.3em;
}
#nav__about--tablet li,
#nav__Test--tablet li,
#nav__Information--tablet li {
  margin-bottom: 0.5em;
}
#nav__about--tablet a,
#nav__Test--tablet a,
#nav__Information--tablet a {
  font-family: "Barlow", sans-serif;
}

#nav__about--tablet {
  background-color: #fff;
  width: 7em;
  padding: 0;
  height: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#nav__about--tablet li {
  -webkit-transform: translateX(-1000em);
          transform: translateX(-1000em);
  opacity: 0;
}

#nav__about--tablet.active {
  height: auto;
  padding: 1em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#nav__about--tablet.active li {
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
  opacity: 1;
}

#nav__Test--tablet {
  left: 16em;
  background-color: #fff;
  width: 7em;
  padding: 0;
  height: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#nav__Test--tablet li {
  -webkit-transform: translateX(-1000em);
          transform: translateX(-1000em);
  opacity: 0;
}

#nav__Test--tablet.active {
  height: auto;
  padding: 1em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#nav__Test--tablet.active li {
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
  opacity: 1;
}

#nav__Information--tablet {
  left: 24em;
  background-color: #fff;
  padding: 0;
  height: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#nav__Information--tablet li {
  -webkit-transform: translateX(-1000em);
          transform: translateX(-1000em);
  opacity: 0;
}

#nav__Information--tablet.active {
  height: auto;
  padding: 1em;
}
#nav__Information--tablet.active li {
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
  opacity: 1;
}

header {
  padding: 1em;
  background-color: #5680E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .hamburger {
  cursor: pointer;
}
header .hamburger div {
  width: 2rem;
  height: 0.25rem;
  background-color: #fff;
  margin: 0.3rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
header .hamburger .one {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  top: 8px;
}
header .hamburger .two {
  opacity: 0;
}
header .hamburger .three {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  top: -10px;
}
@media screen and (min-width: 768px) {
  header .hamburger {
    display: none;
  }
}
header .tabletNav {
  display: none;
}
header .tabletNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
header .tabletNav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3em;
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 5px;
  height: 2em;
  cursor: pointer;
  font-family: "Barlow", sans-serif;
}
header .tabletNav a {
  color: #fff;
  font-family: "Barlow", sans-serif;
}
header .tabletNav ion-icon {
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  header .tabletNav {
    display: block;
  }
}
header .logo {
  background-color: #fff;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.formContainer {
  display: none;
  background-color: #101935;
  z-index: 3;
}
.formContainer .formHeader {
  background-color: #F3F643;
  padding: 5px;
  text-align: center;
}
.formContainer form {
  padding: 1em;
  color: #fff;
  position: relative;
}
.formContainer form .formItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
}
.formContainer form label {
  margin-bottom: 0.5em;
}
.formContainer form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}
.formContainer form input::-webkit-input-placeholder {
  color: #fff;
}
.formContainer form input::-moz-placeholder {
  color: #fff;
}
.formContainer form input:-ms-input-placeholder {
  color: #fff;
}
.formContainer form input::-ms-input-placeholder {
  color: #fff;
}
.formContainer form input::placeholder {
  color: #fff;
}
.formContainer form .radioItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
.formContainer form .radioItem div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.formContainer form button {
  margin-block: 1em;
  background-color: #E8AA14;
  color: #8860D0;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.formContainer form button:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-box-shadow: 0px 11px 8px 0px inset rgba(0, 0, 0, 0.2);
          box-shadow: 0px 11px 8px 0px inset rgba(0, 0, 0, 0.2);
}
.formContainer form #close {
  margin-left: auto;
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.formContainer.open {
  display: block;
}

main .hero {
  background-color: #5680E9;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .hero .heroContainer {
  text-align: center;
}
main .hero h1 {
  font-size: 2em;
  font-family: "Arvo", serif;
  color: #fff;
}
main .hero p {
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  margin-top: 0.8em;
}
@media screen and (min-width: 768px) {
  main .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 1em;
  }
  main .hero .heroContainer {
    text-align: left;
  }
}
main .kenapaVct {
  background-color: #84CEEB;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .kenapaVct h2 {
  text-align: center;
  margin-bottom: 1em;
}
@media screen and (min-width: 768px) {
  main .kenapaVct h2 {
    text-align: left;
  }
}
main .kenapaVct h3 {
  color: #0E103D;
  font-size: 20px;
  margin-bottom: 0.5em;
}
main .kenapaVct p {
  color: #0E103D;
}
main .kenapaVct li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
  grid-template-columns: 50px 1fr;
  margin-bottom: 0.5em;
}
main .kenapaVct ion-icon {
  font-size: 1.3em;
}
main .kenapaVct a {
  color: #0E103D;
  font-size: 12px;
}
main .kenapaVct .heroImage {
  width: 300px;
}
@media screen and (min-width: 768px) {
  main .kenapaVct .heroImage {
    margin-top: 5em;
    width: 100%;
  }
}
main .kenapaVct .heroImage img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  main .kenapaVct {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1em;
  }
}
main .testimony {
  padding: 1em;
  background-color: #5680E9;
}
main .testimony h2 {
  margin-bottom: 0.5em;
}
main .testimony .testimonyList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  main .testimony .testimonyList {
    width: 200px;
  }
}
main .testimony .image {
  width: 5.5em;
  height: 5.5em;
  border-radius: 50%;
  background-color: #fff;
}
main .testimony .statement,
main .testimony .work {
  margin-top: 0.3em;
}
main .testProcess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  background-color: #84CEEB;
}
main .testProcess h2 {
  margin-bottom: 0.5em;
}
main .testProcess h3 {
  font-size: 1.1em;
  margin-bottom: 0.3em;
}
main .testProcess li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
  grid-template-columns: 50px 1fr;
  margin-bottom: 0.5em;
}
main .testProcess .heroImage {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  main .testProcess .heroImage {
    margin-top: 5em;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  main .testProcess {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1em;
  }
}
main .petugas {
  padding: 1em;
  background-color: #5680E9;
}
main .petugas .listPetugas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
main .petugas .image {
  width: 5.5em;
  height: 5.5em;
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  main .petugas .image {
    width: 7em;
    height: 7em;
  }
}
main .petugas .name {
  margin-block: 0.3em;
}
main .donation {
  padding: 1em;
  background-color: #84CEEB;
}
main .donation h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
main .donation p {
  text-align: center;
  margin-bottom: 0.5em;
}
main .donation .imageAct {
  margin-block: 1.5em;
  width: 14em;
  height: 10em;
  background-color: #5680E9;
}
@media screen and (min-width: 768px) {
  main .donation .btnWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer {
  background-color: #1B122B;
  padding: 1em;
  color: #fff;
  height: 100%;
}
footer h4 {
  font-family: "Arvo", serif;
}
footer .footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}
@media screen and (min-width: 768px) {
  footer .footerNav {
    border: none;
  }
}
@media screen and (min-width: 768px) {
  footer .footerNav ion-icon {
    display: none;
  }
}
footer .hiddenList {
  height: 0;
  opacity: 0;
  -webkit-transition: height 0.5s, opacity 0.3s ease-in-out 0.5s;
  transition: height 0.5s, opacity 0.3s ease-in-out 0.5s;
  margin-bottom: 1em;
  visibility: hidden;
}
footer .hiddenList li, footer .hiddenList a {
  color: #fff;
  font-family: "Barlow", sans-serif;
}
footer .hiddenList li {
  margin-bottom: 0.5em;
}
@media screen and (min-width: 768px) {
  footer .hiddenList {
    display: none;
  }
}
footer .tableList {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .tableList li {
  margin-bottom: 1em;
}
footer .tableList a {
  color: #F4FDAF;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
}
@media screen and (min-width: 768px) {
  footer .tableList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
footer #about-bmg-footer.active {
  height: 120px;
  opacity: 1;
  visibility: visible;
}
footer #community-support-footer.active {
  height: 80px;
  opacity: 1;
  visibility: visible;
}
footer #contact-us-footer.active {
  height: 30px;
  opacity: 1;
  visibility: visible;
}
footer #contactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}
footer #contactUs ion-icon {
  font-size: 2em;
}
footer .hiddenList.open {
  display: block;
}
@media screen and (min-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}