html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.3em;
}

p {
  font-family: "Barlow", sans-serif;
}

.CTA_TEST {
  margin-block: 1em;
  background-color: #E8AA14;
  color: #8860D0;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.CTA_TEST:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-box-shadow: 0px 11px 8px 0px inset rgba(0, 0, 0, 0.2);
          box-shadow: 0px 11px 8px 0px inset rgba(0, 0, 0, 0.2);
}

.CTA_DONATE {
  margin-block: 1em;
  background-color: #540d6e;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.CTA_DONATE:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-box-shadow: 0px 11px 8px 0px inset rgba(0, 0, 0, 0.2);
          box-shadow: 0px 11px 8px 0px inset rgba(0, 0, 0, 0.2);
}

h2 {
  font-family: "Arvo", serif;
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.btnWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.navBar {
  -webkit-transform: translateX(-50em);
          transform: translateX(-50em);
  width: 250px;
  position: absolute;
  top: 4em;
  background-color: #D0D6B5;
  padding: 1em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navBar li, .navBar a {
  color: #101935;
  cursor: pointer;
  font-family: "Barlow", sans-serif;
}
.navBar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  padding: 1em;
  margin-inline: -10px;
}
.navBar li:hover {
  background-color: #002626;
  color: #fff;
}
.navBar li:hover a {
  color: #fff;
}

.navBar.active {
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
}

header {
  padding: 1em;
  background-color: #5680E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .hamburger {
  cursor: pointer;
}
header .hamburger div {
  width: 2rem;
  height: 0.25rem;
  background-color: #fff;
  margin: 0.3rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
header .hamburger .one {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  top: 8px;
}
header .hamburger .two {
  opacity: 0;
}
header .hamburger .three {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  top: -10px;
}
header .logo {
  background-color: #fff;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

main .hero {
  background-color: #5680E9;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .hero .heroContainer {
  text-align: center;
}
main .hero h1 {
  font-size: 2em;
  font-family: "Arvo", serif;
  color: #fff;
}
main .hero p {
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  margin-top: 0.8em;
}
main .hero .heroImage {
  width: 80vw;
  height: 50vh;
}
main .hero .heroImage img {
  height: auto;
  width: 100%;
}
main .kenapaVct {
  background-color: #84CEEB;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .kenapaVct h2 {
  text-align: center;
  margin-bottom: 1em;
}
main .kenapaVct h3 {
  color: #0E103D;
  font-size: 20px;
  margin-bottom: 0.5em;
}
main .kenapaVct p {
  color: #0E103D;
}
main .kenapaVct li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
  grid-template-columns: 50px 1fr;
  margin-bottom: 0.5em;
}
main .kenapaVct ion-icon {
  font-size: 1.3em;
}
main .kenapaVct a {
  color: #0E103D;
  font-size: 12px;
}
main .testimony {
  padding: 1em;
  background-color: #5680E9;
}
main .testimony h2 {
  margin-bottom: 0.5em;
}
main .testimony .testimonyList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
main .testimony .image {
  width: 5.5em;
  height: 5.5em;
  border-radius: 50%;
  background-color: #fff;
}
main .testimony .statement,
main .testimony .work {
  margin-top: 0.3em;
}
main .testProcess {
  padding: 1em;
  background-color: #84CEEB;
}
main .testProcess h2 {
  margin-bottom: 0.5em;
}
main .testProcess h3 {
  font-size: 1.1em;
  margin-bottom: 0.3em;
}
main .testProcess li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
  grid-template-columns: 50px 1fr;
  margin-bottom: 0.5em;
}
main .petugas {
  padding: 1em;
  background-color: #5680E9;
}
main .petugas .listPetugas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
main .petugas .image {
  width: 5.5em;
  height: 5.5em;
  border-radius: 50%;
  background-color: #fff;
}
main .petugas .name {
  margin-block: 0.3em;
}
main .donation {
  padding: 1em;
  background-color: #84CEEB;
}
main .donation h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
main .donation p {
  text-align: center;
  margin-bottom: 0.5em;
}
main .donation .imageAct {
  margin-block: 1.5em;
  width: 100%;
  height: 10em;
  background-color: #5680E9;
}

footer {
  background-color: #1B122B;
  padding: 1em;
  color: #fff;
}
footer h4 {
  font-family: "Arvo", serif;
}
footer .footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}
footer .hiddenList {
  height: 0;
  opacity: 0;
  -webkit-transition: height 0.5s, opacity 0.3s ease-in-out 0.5s;
  transition: height 0.5s, opacity 0.3s ease-in-out 0.5s;
  margin-bottom: 1em;
  visibility: hidden;
}
footer .hiddenList li, footer .hiddenList a {
  color: #fff;
  font-family: "Barlow", sans-serif;
}
footer .hiddenList li {
  margin-bottom: 0.5em;
}
footer #about-bmg-footer.active {
  height: 120px;
  opacity: 1;
  visibility: visible;
}
footer #community-support-footer.active {
  height: 80px;
  opacity: 1;
  visibility: visible;
}
footer #contact-us-footer.active {
  height: 30px;
  opacity: 1;
  visibility: visible;
}
footer #contactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}
footer #contactUs ion-icon {
  font-size: 2em;
}
footer .hiddenList.open {
  display: block;
}