// font
$header_font: 'Arvo', serif;
$body_font: 'Barlow', sans-serif;

// font size 
$header_fontSize : 2em;
$list_header : 20px;
$body_fontSize : 14px;
$link_fontSize : 12px;

// color
$firstBcgColor : #5680E9;
$secondBcgColor : #84CEEB;
$btnColorBcg : #E8AA14;
$white : #fff;
$dark_Purple : #0E103D;
$footerBcg : #1B122B;
$copyrightBcg : #242F55;

// utility
$padding : 1em;
$line-height : 1.3em;
$paddingBtn : 8px;

// media
$tablet : 768px;
$desktop : 1020px;