@import './mixin';
@import './variable';
@import './root';
@import './utility';

header {
   padding : $padding;
   background-color: $firstBcgColor; 
   display: flex;
   align-items: center;
   justify-content: space-between;

   .hamburger {
       cursor: pointer;

        div {
            width: 2rem;
            height: 0.25rem;
            background-color: $white;
            margin: 0.3rem;
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;
        }
        .one {
            transform: rotate(40deg);
            transition: all 0.5s ease-in-out;
            position: relative;
            top : 8px
        }
        .two {
            opacity: 0;
        }
        .three {
            transform: rotate(-40deg);
            transition: all 0.5s ease-in-out;
            position: relative;
            top : -10px
        }
        
        @include mQ($tablet) {
            display: none;
        }
   }

   .tabletNav {
        display: none;
        ul {
            display: flex;
            align-items: center;
            gap : .5em;
        }

        li {
            display: flex;
            align-items: center;
            gap : .3em;
            color :$white;
            border-right : 1px solid $white;
            padding-right: 5px;
            height : 2em;
            cursor: pointer;
            font-family: $body_font;
        }

        a {
            color : $white;
            font-family: $body_font;
        }

        ion-icon {
            margin-top: 5px;
        }
        
        @include mQ($tablet) {
            display: block;
        }
    }


   .logo {

   
       img {
        height: 3rem;
        width: 3rem;
        border-radius: 50%; 
       }
   }
}

.formContainer {
    display: none;
    background-color: #101935;
    z-index: 3;

    .formHeader {
        background-color: #F3F643;
        padding : 5px;
        text-align: center;
    }

    form {
        padding : $padding;
        color : $white;
        position: relative;

        .formItem {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
        }
        
        label {
            margin-bottom: .5em;
        }

        input {
            background-color: transparent;
            border : none;
            border-bottom: 1px solid $white;
        }

        input::placeholder {
            color: $white;
        }

        .radioItem {
            display: flex;
            align-items: center;
            gap : 1em;

            div {
                display: flex;
                align-items: flex-start;
            }
        }
        button {
            margin-block: 1em;
            background-color: $btnColorBcg;
            color : #8860D0;
            padding : $paddingBtn;
            border-radius: 5px;
            border: none;
            font-family: $body_font;
            font-weight: bold;
            letter-spacing: 2px;
            box-shadow: 0px 11px 8px 0px rgba(0,0,0,0.4);
            cursor: pointer;
            transition: .3s ease-in-out;
        }
        button:hover{
            transform: translateY(10px);
            box-shadow: 0px 11px 8px 0px inset rgba(0,0,0,0.2);
        }
        #close {
            margin-left: auto;
            position : absolute;
            bottom: 15px;
            right: 10px;
        }
    }
}

.formContainer.open {
    display: block;
}

main {
    .hero {
        background-color: $firstBcgColor;
        padding : $padding;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .heroContainer {
            text-align: center;
        }

        h1 {
            font-size: $header_fontSize;
            font-family: $header_font;
            color: $white;

            @include mQ($desktop) {
                font-size: 3em;
            }
        }

        p {
            color : $white;
            font-family: $body_font;
            font-size: $body_fontSize;
            margin-top: .8em;

            @include mQ($desktop) {
                font-size: 1.3em;
            }
        }

        @include mQ($tablet) {
            flex-direction: row-reverse;
            gap : 1em;

            .heroContainer {
                text-align: left;
            }
        }

        @include mQ($desktop) {
            height : 30em;
            align-items: flex-start;

            .heroContainer {
                transform: translateY(3em);
            }
        }

    }

    .kenapaVct {
        background-color: $secondBcgColor;
        padding : $padding;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h2 {
            text-align: center;
            margin-bottom: 1em;

            @include mQ($tablet) {
                text-align: left;
            }
        }

        h3 {
            color : $dark_Purple;
            font-size: $list_header;
            margin-bottom: .5em;
        }

        p {
            color : $dark_Purple;
        }

        li {
            display: grid;
            grid-template-columns: 50px 1fr;
            margin-bottom: .5em;
        }

        ion-icon {
            font-size: 1.3em;
        }

        a {
            color : $dark_Purple;
            font-size: $link_fontSize;
        }
        

        .heroImage {
            width : 300px;
            @include mQ($tablet) {
                margin-top: 5em;
                width : 100%;
            }

            img {
                width: 100%;

                @media (orientation : landscape) {
                    width: 80%;
                }
            }
        }

        @include mQ($tablet) {
            flex-direction: row;
            align-items: flex-start;
            gap : 1em;
        }
    }

    .testimony {
        padding : $padding;
        background-color: $firstBcgColor;

        h2 {
            margin-bottom: .5em;
        }

        .innerTest {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .overflow {
            overflow-x: hidden;
        }

        .testimonyList {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            .statement {
                max-width: 30ch;
            }
        }

        .image {
            
            
            img {
                width : 5.5em;
                height : 5.5em;
                border-radius: 50%;
            }
        }

        .nama,
        .statement,
        .work {
            margin-top: .3em;
            font-size: .9em;

            @include mQ($tablet) {
                font-size: 1em;
            }
        }

        .nama {
            font-weight: bold;
        }
        .work {
            font-style: italic;
        }
    }

    .testProcess {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding : $padding;
        background-color: $secondBcgColor;
        
        h2 {
            margin-bottom: .5em;
        }

        h3 {
            font-size: 1.1em;
            margin-bottom: .3em;
        }

        li {
            display: grid;
            grid-template-columns: 50px 1fr;
            margin-bottom: .5em;
        }
        
        .heroImage {
            height : auto;
            width : 100%;
            display: flex;
            justify-content: center;

            @include mQ($tablet) {
                margin-top: 5em;
                width : 100%;
            }
        }

        @include mQ($tablet) {
            flex-direction: row-reverse;
            align-items: flex-start;
            gap : 1em;
        }
    }

    .petugas {
        padding : $padding;
        background-color: $firstBcgColor;

        h2 {
            margin-bottom: 1em;
        }

        .listPetugas {
            display : flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        

        .image {

            img {
                width : 5.5em;
                height : 5.5em;
                border-radius: 50%;

                @include mQ($tablet) {
                    width : 7em;
                    height : 7em;
                }

                @include mQ($desktop) {
                    width : 10em;
                    height : 10em;
                }
            }
        }

        .name {
            margin-block: .3em;
        }

        .name,
        .work {
            font-size: .8em;

            @include mQ($desktop) {
                font-size: 1em;
            }
        }
    }

    .donation {
        padding : $padding;
        background-color: $secondBcgColor;

        h2 {
            font-size: 1.5em;
            margin-bottom: .5em;
        }

        p {
            text-align: center;
            margin-bottom: .5em;
        }

        .imageAct {
            margin-block : 1.5em;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width : 100%;
                height : 10em;

                @include mQ($tablet) {
                    height : 15em;
                    width : 60%;
                }

                @media (orientation : landscape) {
                    width: 50%;
                }
            }
        }
        .btnWrapper {
            @include mQ($tablet) {
                display: flex;
                justify-content: center;
            }
        }
    }
}

footer {
    background-color: $footerBcg;
    padding : $padding;
    color : $white;
    overflow-x: hidden;

    h4 {
        font-family: $header_font;
    }

    .footerNav {
        display : flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $white;
        margin-bottom: .5em;
        padding-bottom: .5em;

        @include mQ($tablet) {
            border : none;
        }

        ion-icon {

            @include mQ($tablet) {
                display: none;
            }
        }
    }

    .hiddenList {
        height : 0;
        opacity: 0;
        transition: height 0.5s, opacity .3s ease-in-out .5s;
        margin-bottom: 1em;
        visibility: hidden;

        li,a {
            color : $white;
            font-family: $body_font;
        }
        li {
            margin-bottom: .5em;
        }

        @include mQ($tablet) {
            display: none;
        }
    }

    .tableList {
        display: none;
        flex-direction: column;
        align-items: center;

        li {
            margin-bottom: 1em;
        }

        a {
            color : #F4FDAF;
            font-family: $body_font;
            font-size: 1em;
        }

        @include mQ($tablet) {
            display: flex;
        }
    }

    #about-bmg-footer.active {
        height : 120px;
        opacity: 1;
        visibility: visible;
    }

    #community-support-footer.active {
        height : 80px;
        opacity: 1;
        visibility: visible;
    }

    #contact-us-footer.active {
        height : 30px;
        opacity: 1;
        visibility: visible;
    }

    #contactUs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap : 1em;

        ion-icon {
            font-size: 2em;
        }
    }
    .hiddenList.open {
        display: block;
    }

    @include mQ($tablet) {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
    }
}