@import './mixin';
@import './variable';
@import './root';
@import './utility';

header {
   padding : $padding;
   background-color: $firstBcgColor; 
   display: flex;
   align-items: center;
   justify-content: space-between;

   .hamburger {
       cursor: pointer;

        div {
            width: 2rem;
            height: 0.25rem;
            background-color: $white;
            margin: 0.3rem;
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;
        }
        .one {
            transform: rotate(40deg);
            transition: all 0.5s ease-in-out;
            position: relative;
            top : 8px
        }
        .two {
            opacity: 0;
        }
        .three {
            transform: rotate(-40deg);
            transition: all 0.5s ease-in-out;
            position: relative;
            top : -10px
        }
   }


   .logo {
       background-color: $white;
       height: 3rem;
       width: 3rem;
       border-radius: 50%;
   }
}

.formContainer {
    position: fixed;
    top: 10em;
    background-color: #101935;
    z-index: 3;

    .formHeader {
        background-color: #F3F643;
        padding : 5px;
        text-align: center;
    }

    form {
        padding : $padding;
        color : $white;

        .formItem {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
        }
        
        label {
            margin-bottom: .5em;
        }

        input {
            width : 100%;
            background-color: transparent;
            border : none;
            border-bottom: 1px solid $white;
        }

        input::placeholder {
            color: $white;
        }

        .radioItem {
            display: flex;
            align-items: center;
            gap : 1em;

            div {
                display: flex;
                align-items: flex-start;
            }
        }
    }
}

main {
    .hero {
        background-color: $firstBcgColor;
        padding : $padding;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .heroContainer {
            text-align: center;
        }

        h1 {
            font-size: $header_fontSize;
            font-family: $header_font;
            color: $white;
        }

        p {
            color : $white;
            font-family: $body_font;
            font-size: $body_fontSize;
            margin-top: .8em;
        }

        .heroImage {
            width : 80vw;
            height: 50vh;

            img {
                height: auto;
                width: 100%;
            }
        }
    }

    .kenapaVct {
        background-color: $secondBcgColor;
        padding : $padding;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h2 {
            text-align: center;
            margin-bottom: 1em;
        }

        h3 {
            color : $dark_Purple;
            font-size: $list_header;
            margin-bottom: .5em;
        }

        p {
            color : $dark_Purple;
        }

        li {
            display: grid;
            grid-template-columns: 50px 1fr;
            margin-bottom: .5em;
        }

        ion-icon {
            font-size: 1.3em;
        }

        a {
            color : $dark_Purple;
            font-size: $link_fontSize;
        }
    }

    .testimony {
        padding : $padding;
        background-color: $firstBcgColor;

        h2 {
            margin-bottom: .5em;
        }

        .testimonyList {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .image {
            width : 5.5em;
            height : 5.5em;
            border-radius: 50%;
            background-color: $white;
        }

        .statement,
        .work {
            margin-top: .3em;
        }
    }
    .testProcess {
        padding : $padding;
        background-color: $secondBcgColor;
        
        h2 {
            margin-bottom: .5em;
        }

        h3 {
            font-size: 1.1em;
            margin-bottom: .3em;
        }

        li {
            display: grid;
            grid-template-columns: 50px 1fr;
            margin-bottom: .5em;
        }
        
    }

    .petugas {
        padding : $padding;
        background-color: $firstBcgColor;

        .listPetugas {
            display : flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        

        .image {
            width : 5.5em;
            height : 5.5em;
            border-radius: 50%;
            background-color: $white;
        }

        .name {
            margin-block: .3em;
        }
    }

    .donation {
        padding : $padding;
        background-color: $secondBcgColor;

        h2 {
            font-size: 1.5em;
            margin-bottom: .5em;
        }

        p {
            text-align: center;
            margin-bottom: .5em;
        }

        .imageAct {
            margin-block : 1.5em;
            width : 100%;
            height : 10em;
            background-color: $firstBcgColor;
        }
    }
}

footer {
    background-color: $footerBcg;
    padding : $padding;
    color : $white;

    h4 {
        font-family: $header_font;
    }

    .footerNav {
        display : flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $white;
        margin-bottom: .5em;
        padding-bottom: .5em;
    }

    .hiddenList {
        height : 0;
        opacity: 0;
        transition: height 0.5s, opacity .3s ease-in-out .5s;
        margin-bottom: 1em;
        visibility: hidden;

        li,a {
            color : $white;
            font-family: $body_font;
        }
        li {
            margin-bottom: .5em;
        }

    }

    #about-bmg-footer.active {
        height : 120px;
        opacity: 1;
        visibility: visible;
    }

    #community-support-footer.active {
        height : 80px;
        opacity: 1;
        visibility: visible;
    }

    #contact-us-footer.active {
        height : 30px;
        opacity: 1;
        visibility: visible;
    }

    #contactUs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap : 1em;

        ion-icon {
            font-size: 2em;
        }
    }
    .hiddenList.open {
        display: block;
    }
}