@import './variable';
@import './mixin';

.heroImage {
    max-width : 80vw;
    height: 50vh;

    img {
        height: auto;
        width: 300px;

        @include mQ($tablet) {
            width : 350px;
        }
        
        @include mQ($desktop) {
            width : 100%;
            height : 400px;
        }
    }

    @include mQ($tablet) {
        width : 50%;
    }

    @include mQ($desktop) {
        width : 60%;
        height : 400px;
    }
}


.CTA_TEST {
    margin-block: 1em;
    background-color: $btnColorBcg;
    color : #8860D0;
    padding : $paddingBtn;
    border-radius: 5px;
    border: none;
    font-family: $body_font;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: 0px 11px 8px 0px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.CTA_TEST:hover {
    transform: translateY(10px);
    box-shadow: 0px 11px 8px 0px inset rgba(0,0,0,0.2);
}

.CTA_DONATE {
    margin-block: 1em;
    background-color: #540d6e;
    color : $white;
    padding : $paddingBtn;
    border-radius: 5px;
    border: none;
    font-family: $body_font;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: 0px 11px 8px 0px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.CTA_DONATE:hover {
    transform: translateY(10px);
    box-shadow: 0px 11px 8px 0px inset rgba(0,0,0,0.2);
}

h2 {
    font-family: $header_font;
    font-size: $header_fontSize;
    color: $white;
    text-align: center;
}

.btnWrapper {
    display: flex;
    align-items: center;
    gap : 10px;
}

.navBar {
    transform: translateX(-50em);
    width: 250px;
    height: 100%;
    top: 0;
    background-color: #D0D6B5;
    padding : $padding;
    transition: all 0.5s ease-in-out;
    position: fixed;
    z-index: 2;

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;

        ion-icon {
            font-size: 2em;
        }
    }

    ul {
        padding-top: 1.2em;
    }

    li,a {
        color : #101935;
        cursor: pointer;
        font-family: $body_font;
    }


    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        transition: 0.5s ease-in-out;
        padding : $padding;
        margin-inline : -10px;
    }

    li:hover {
        background-color: #002626;
        color: $white;

        a {
            color : $white;
        }
    }
}

#nav__about,
#nav__Test,
#nav__Information {
    display : none;
    position: absolute;
    width: 250px;
    height: 100%;
    transition: all 0.5s ease-in-out;
    top : 0;
    background-color: #D0D6B5;
    padding-top : 3em;
}

.back {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    ion-icon {
        font-size: 2em;
        margin-top: .5em;
    }
}

.navBar.active {
    transform: translateX(0em);
}
#nav__about.active {
    display: block;
    transform: translateX(0em);
}
#nav__Test.active {
    display: block;
    transform: translateX(0em);
}
#nav__Information.active {
    display: block;
    transform: translateX(0em);
}


.dot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width : 3em;
    padding : 3px;
    border-radius : 1em;
    background-color: $white;
    margin-right: .5em;
    font-size: 1em;
    background-color: #D72638;
    color: $white;
}

.margin {
    margin-left: 2em;
}

.imageCarousel {  
    .listContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image {
        height : 15em;
        width : 100%;
        background-size: cover;

        img {
            width : 100%;
            height : 100%;
        }
    }

    .caption {
        font-family: $body_font;
        margin-top: .5em;
        text-align: center;
    }

    @include mQ($tablet) {
        width : 30%;
    }
}

// tablet navbar
#nav__about--tablet,
#nav__Test--tablet,
#nav__Information--tablet  {
    position: absolute;
    top : 4em;
    left : 8.3em;

    li {
        margin-bottom: .5em;
    }

    a {
        font-family: $body_font;
    }
}

#nav__about--tablet {
    background-color: $white;
    width : 7em;
    padding : 0;
    height : 0;
    transition: all 0.5s ease-in-out;

    li {
        transform: translateX(-1000em);
        opacity: 0;
    }
}

#nav__about--tablet.active {
    height : auto;
    padding : $padding;
    transition: all 0.5s ease-in-out;

    li {
        transform: translateX(0em);
        opacity: 1;
    }
}

#nav__Test--tablet {
    left : 16em;
    background-color: $white;
    width : 7em;
    padding : 0;
    height : 0;
    transition: all 0.5s ease-in-out;

    li {
        transform: translateX(-1000em);
        opacity: 0;
    }
}

#nav__Test--tablet.active {
    height : auto;
    padding : $padding;
    transition: all 0.5s ease-in-out;

    li {
        transform: translateX(0em);
        opacity: 1;
    }
}

#nav__Information--tablet {
    left : 24em;
    background-color: $white;
    padding : 0;
    height : 0;
    transition: all 0.5s ease-in-out;

    li {
        transform: translateX(-1000em);
        opacity: 0;
    }
}

#nav__Information--tablet.active {
    height : auto;
    padding : $padding;

    li {
        transform: translateX(0em);
        opacity: 1;
    }
}
