@import './variable';

.CTA_TEST {
    margin-block: 1em;
    background-color: $btnColorBcg;
    color : #8860D0;
    padding : $paddingBtn;
    border-radius: 5px;
    border: none;
    font-family: $body_font;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: 0px 11px 8px 0px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.CTA_TEST:hover {
    transform: translateY(10px);
    box-shadow: 0px 11px 8px 0px inset rgba(0,0,0,0.2);
}

.CTA_DONATE {
    margin-block: 1em;
    background-color: #540d6e;
    color : $white;
    padding : $paddingBtn;
    border-radius: 5px;
    border: none;
    font-family: $body_font;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: 0px 11px 8px 0px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.CTA_DONATE:hover {
    transform: translateY(10px);
    box-shadow: 0px 11px 8px 0px inset rgba(0,0,0,0.2);
}

h2 {
    font-family: $header_font;
    font-size: $header_fontSize;
    color: $white;
    text-align: center;
}

.btnWrapper {
    display: flex;
    align-items: center;
    gap : 10px;
}

.navBar {
    transform: translateX(-50em);
    width: 250px;
    height: 100%;
    top: 0;
    background-color: #D0D6B5;
    padding : $padding;
    transition: all 0.5s ease-in-out;
    position: fixed;
    z-index: 2;

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;

        ion-icon {
            font-size: 2em;
        }
    }

    ul {
        padding-top: 1.2em;
    }

    li,a {
        color : #101935;
        cursor: pointer;
        font-family: $body_font;
    }


    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        transition: 0.5s ease-in-out;
        padding : $padding;
        margin-inline : -10px;
    }

    li:hover {
        background-color: #002626;
        color: $white;

        a {
            color : $white;
        }
    }
}

#nav__about,
#nav__Test,
#nav__Information {
    position: absolute;
    width: 250px;
    height: 100%;
    top : 0;
    transform: translateX(-50em);
    transition: all 0.5s ease-in-out;
    background-color: #D0D6B5;
    padding-top : 3em;
}

.back {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    ion-icon {
        font-size: 2em;
        margin-top: .5em;
    }
}

.navBar.active {
    transform: translateX(0em);
}
#nav__about.active {
    transform: translateX(0em);
}
#nav__Test.active {
    transform: translateX(0em);
}
#nav__Information.active {
    transform: translateX(0em);
}

.dot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width : 3em;
    padding : 3px;
    border-radius : 1em;
    background-color: $white;
    margin-right: .5em;
    font-size: 1em;
    background-color: #D72638;
    color: $white;
}

.margin {
    margin-left: 2em;
}