@import '../../scss/mixin';
@import '../../scss/root';
@import '../../scss/variable';
@import '../../scss/utility';


.innerList {
    display: flex;
    flex-direction: column;

    @include mQ($tablet) {
        flex-direction: row;
    }
}

.reverse {
    flex-direction: row-reverse;
}

.rightPart {
    width : 70%;
}

.leftPart {
    padding : 1em;
}

.hiv {
    padding : $padding;
    background-color: $firstBcgColor;

    h1 {
        font-size : $header_fontSize;
        text-align: center;
        color : $white;
        margin-bottom: 1em;
    }

    h2 {
        font-size: 1.6em;
        text-align: left;
    }

    h3 {
        margin-top: .5em;
        font-size: 1.4em;
        color : $white;
    }
    
    p {
        color : $white;
        margin-bottom: 1em;

        @include mQ($tablet) {
            font-size: 1.1em;
        }
    }

    .source {
        font-size: .9em;
        color : #030301;
    }

    ul {
        list-style-type: disc;
        margin-left: 2em;
        margin-bottom: .5em;

        li {
            color : $white;
            margin-bottom: .5em;
            @include mQ($tablet) {
                font-size: 1.1em;
            }
        }
    }

}

.ims {
    padding : $padding;
    background-color: $secondBcgColor;

    h2 {
        color : $dark_Purple;
        font-size: 1.3em;
        text-align: left;
    }

    p {
        color : $dark_Purple;
        margin-bottom: 1em;
    }
}

.tb {
    padding : $padding;
    background-color: $firstBcgColor;

    
    h2 {
        font-size: 1.3em;
        text-align: left;
    }

    p {
        color : $white;
        margin-bottom: 1em;
    }
}

.hepatitis {
    padding : $padding;
    background-color: $secondBcgColor; 

    h2 {
        color : $dark_Purple;
        font-size: 1.3em;
        text-align: left;
    }

    p {
        color : $dark_Purple;
        margin-bottom: 1em;
    }
}
