@import '../../scss/mixin';
@import '../../scss/root';
@import '../../scss/variable';



.hiv {
    padding : $padding;
    background-color: $firstBcgColor;

    h1 {
        font-size : $header_fontSize;
        text-align: center;
        color : $white;
        margin-bottom: 1em;
    }

    h2 {
        font-size: 1.3em;
        text-align: left;
    }
    
    p {
        color : $white;
        margin-bottom: 1em;
    }

}

.ims {
    padding : $padding;
    background-color: $secondBcgColor;

    h2 {
        color : $dark_Purple;
        font-size: 1.3em;
        text-align: left;
    }

    p {
        color : $dark_Purple;
        margin-bottom: 1em;
    }
}

.tb {
    padding : $padding;
    background-color: $firstBcgColor;

    
    h2 {
        font-size: 1.3em;
        text-align: left;
    }

    p {
        color : $white;
        margin-bottom: 1em;
    }
}

.hepatitis {
    padding : $padding;
    background-color: $secondBcgColor; 

    h2 {
        color : $dark_Purple;
        font-size: 1.3em;
        text-align: left;
    }

    p {
        color : $dark_Purple;
        margin-bottom: 1em;
    }
}
