.heroImage {
  max-width: 80vw;
  height: 50vh;
}
.heroImage img {
  height: auto;
  width: 300px;
}
@media (orientation: landscape) {
  .heroImage img {
    width: 200px;
  }
}
@media screen and (min-width: 768px) {
  .heroImage img {
    width: 350px;
  }
}
@media screen and (min-width: 1020px) {
  .heroImage img {
    width: 100%;
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  .heroImage {
    width: 50%;
  }
}
@media screen and (min-width: 1020px) {
  .heroImage {
    width: 60%;
    height: 400px;
  }
}

.CTA_TEST {
  margin-block: 1em;
  background-color: #E8AA14;
  color: #8860D0;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.CTA_TEST:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-box-shadow: 0px 11px 8px 0px inset rgba(0, 0, 0, 0.2);
          box-shadow: 0px 11px 8px 0px inset rgba(0, 0, 0, 0.2);
}

.CTA_DONATE {
  margin-block: 1em;
  background-color: #540d6e;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.CTA_DONATE:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-box-shadow: 0px 11px 8px 0px inset rgba(0, 0, 0, 0.2);
          box-shadow: 0px 11px 8px 0px inset rgba(0, 0, 0, 0.2);
}

h2 {
  font-family: "Arvo", serif;
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.btnWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.navBar {
  -webkit-transform: translateX(-50em);
          transform: translateX(-50em);
  width: 250px;
  height: 100%;
  top: 0;
  background-color: #D0D6B5;
  padding: 1em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: fixed;
  z-index: 2;
}
.navBar .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
.navBar .close ion-icon {
  font-size: 2em;
}
.navBar ul {
  padding-top: 1.2em;
}
.navBar li, .navBar a {
  color: #101935;
  cursor: pointer;
  font-family: "Barlow", sans-serif;
}
.navBar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  padding: 1em;
  margin-inline: -10px;
}
.navBar li:hover {
  background-color: #002626;
  color: #fff;
}
.navBar li:hover a {
  color: #fff;
}

#nav__about,
#nav__Test,
#nav__Information {
  display: none;
  position: absolute;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: 0;
  background-color: #D0D6B5;
  padding-top: 3em;
}

.back {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.back ion-icon {
  font-size: 2em;
  margin-top: 0.5em;
}

.navBar.active {
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
}

#nav__about.active {
  display: block;
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
}

#nav__Test.active {
  display: block;
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
}

#nav__Information.active {
  display: block;
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
}

.dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2em;
  width: 3em;
  padding: 3px;
  border-radius: 1em;
  background-color: #fff;
  margin-right: 0.5em;
  font-size: 1em;
  background-color: #D72638;
  color: #fff;
}

.margin {
  margin-left: 2em;
}

.imageCarousel .listContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.imageCarousel .image {
  height: 15em;
  width: 100%;
  background-size: cover;
}
.imageCarousel .image img {
  width: 100%;
  height: 100%;
}
.imageCarousel .caption {
  font-family: "Barlow", sans-serif;
  margin-top: 0.5em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .imageCarousel {
    width: 30%;
  }
}

#nav__about--tablet,
#nav__Test--tablet,
#nav__Information--tablet {
  position: absolute;
  top: 4em;
  left: 8.3em;
  overflow-x: hidden;
}
#nav__about--tablet li,
#nav__Test--tablet li,
#nav__Information--tablet li {
  margin-bottom: 0.5em;
}
#nav__about--tablet a,
#nav__Test--tablet a,
#nav__Information--tablet a {
  font-family: "Barlow", sans-serif;
}

#nav__about--tablet {
  background-color: #fff;
  width: 7em;
  padding: 0;
  height: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#nav__about--tablet li {
  -webkit-transform: translateX(-1000em);
          transform: translateX(-1000em);
  opacity: 0;
}

#nav__about--tablet.active {
  height: auto;
  padding: 1em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#nav__about--tablet.active li {
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
  opacity: 1;
}

#nav__Test--tablet {
  left: 16em;
  background-color: #fff;
  width: 7em;
  padding: 0;
  height: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#nav__Test--tablet li {
  -webkit-transform: translateX(-1000em);
          transform: translateX(-1000em);
  opacity: 0;
}

#nav__Test--tablet.active {
  height: auto;
  padding: 1em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#nav__Test--tablet.active li {
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
  opacity: 1;
}

#nav__Information--tablet {
  left: 24em;
  background-color: #fff;
  padding: 0;
  height: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#nav__Information--tablet li {
  -webkit-transform: translateX(-1000em);
          transform: translateX(-1000em);
  opacity: 0;
}

#nav__Information--tablet.active {
  height: auto;
  padding: 1em;
}
#nav__Information--tablet.active li {
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
  opacity: 1;
}

.tablet--navBar a {
  color: #0E103D;
}

h1 {
  font-size: 2em;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5em;
    max-width: 30ch;
  }
}

h2 {
  font-size: 1.5em;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2em;
  }
}

.visiMisi {
  background-color: #5680E9;
  padding: 1em;
}
.visiMisi h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 0.5em;
}
.visiMisi .visi {
  margin-bottom: 1em;
}
.visiMisi p {
  text-align: center;
  color: #fff;
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  .visiMisi p {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 768px) {
  .visiMisi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.founder {
  background-color: #84CEEB;
  padding: 1em;
}
.founder h2 {
  color: #0E103D;
  margin-bottom: 1em;
}
.founder .founderItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.founder .founderItem .image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: red;
}
@media screen and (min-width: 768px) {
  .founder .founderItem .image img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 1020px) {
  .founder .founderItem .image img {
    width: 150px;
    height: 150px;
  }
}
.founder .founderItem p {
  font-size: 0.9em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .founder .founderItem p {
    font-size: 1em;
  }
}
@media screen and (min-width: 1020px) {
  .founder .founderItem p {
    font-size: 1.5em;
  }
}

.workExperience {
  padding: 1em;
  background-color: #5680E9;
}
.workExperience h2 {
  margin-bottom: 1em;
}
.workExperience ul {
  list-style-type: disc;
  margin-left: 1em;
}
.workExperience ul li {
  color: #fff;
  font-family: "Barlow", sans-serif;
  margin-bottom: 1em;
  font-size: 1em;
}
.workExperience .expItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 768px) {
  .workExperience .expItem {
    display: none;
  }
}
.workExperience .mobileList {
  display: block;
}
@media screen and (min-width: 768px) {
  .workExperience .mobileList {
    display: none;
  }
}
.workExperience .tabletMode {
  display: none;
}
@media screen and (min-width: 768px) {
  .workExperience .tabletMode {
    display: block;
  }
}
.workExperience .card {
  width: auto;
  height: auto;
  border-radius: 5px;
  background-color: #FAA916;
  margin-inline: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.workExperience .card .gambar {
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0 0;
}
.workExperience .card .gambar img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}
.workExperience .card .tahun {
  background-color: #3C1616;
  padding: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  position: relative;
  top: -1.8em;
}
.workExperience .card .bottomCard {
  padding: 1em;
}
.workExperience .card .bottomCard h3,
.workExperience .card .bottomCard p {
  text-align: center;
  color: #261C15;
}
.workExperience .card .bottomCard h3 {
  font-size: 1em;
}
.workExperience .card .bottomCard p {
  font-size: 0.9em;
}

.struktur {
  padding: 1em;
  background-color: #84CEEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.struktur h2 {
  color: #0E103D;
}
.struktur .box {
  width: 80%;
}
@media screen and (min-width: 768px) {
  .struktur .box {
    width: 50%;
  }
}
.struktur img {
  width: 100%;
}

.award {
  padding: 1em;
  background-color: #5680E9;
}
.award h2 {
  margin-bottom: 0.8em;
}
.award .awardItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.8em;
}
.award ul {
  list-style-type: disc;
  margin-left: 1em;
}
.award ul li {
  color: #fff;
  font-family: "Barlow", sans-serif;
  margin-bottom: 1em;
  font-size: 1em;
}
@media screen and (min-width: 768px) {
  .award ul li {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 768px) {
  .award p {
    font-size: 1.2em;
  }
}