@import '../../scss/mixin';
@import '../../scss/variable';
@import '../../scss/utility';

.tablet--navBar {
    a {
        color : $dark_Purple;
    }
}

h1 {
    font-size: $header_fontSize;

    @include mQ($tablet) {
        font-size: 2.5em;
        max-width: 30ch;
    }
}

h2 {
    font-size: 1.5em;

    
    @include mQ($tablet) {
        font-size: 2em;
    }
}

.visiMisi {
    background-color: $firstBcgColor;
    padding : $padding;

    h1 {
        color : $white;
        text-align : center;
        margin-bottom: .5em;
    }

    p {
        text-align: center;

        
    @include mQ($tablet) {
        font-size: 1.2em;
    }
    }

    
    @include mQ($tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.founder {
    background-color: $secondBcgColor;
    padding : $padding;

    h2 {
        color : $dark_Purple;
        margin-bottom: 1em;
    }

    .founderItem {
        display: flex;
        flex-direction: column;
        align-items: center;

        .image {
            width : 80px;
            height : 80px;
            border-radius : 50%;
            background-color: red;

            
            @include mQ($tablet) {
                width : 100px;
                height : 100px;
            }
        }

        p {
            font-size: .9em;

            @include mQ($tablet) {
                font-size: 1em;
            }
        }
    }
}

.workExperience {
    padding : $padding;
    background-color: $firstBcgColor;

    h2 {

        @include mQ($tablet) {
            margin-bottom: 1em;
        }
    }

    .expItem {
        display: flex;
        align-items: center;
        margin-bottom: .5em;

        @include mQ($tablet) {
            display: none;
        }
    }

    .tabletMode {
        display: none;

        @include mQ($tablet) {
            display: block;
        }
    }

    .card {
        width : auto;
        height : auto;
        border-radius: 5px;
        background-color: #FAA916;
        margin-inline : 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 3px 9px 5px 0px rgba(0,0,0,0.75);

        .gambar {
            width : 100%;
            height : 150px;
            border-radius: 5px 5px 0 0;
            background-color: #8D4747;
        }
        
        .tahun {
            background-color: #3C1616;
            padding : 10px;
            border-radius: 50%;
            height : 30px;
            width : 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color : $white;
            position: relative;
            top : -1.8em;
        }

        .bottomCard {
            padding : $padding;
        }

    }
}

.struktur {
    padding : $padding;
    background-color: $secondBcgColor;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color : $dark_Purple;
    }
    .box {
        width : 80%;

        @include mQ($tablet) {
            width : 50%;
        }
    }

    img {
        width : 100%;
    }
}

.award {
    padding : $padding;
    background-color: $firstBcgColor;

    h2 {
        margin-bottom: .8em;
    }

    .awardItem {
        display: flex;
        align-items: center;
        margin-bottom: .8em;
    }

    p {
        @include mQ($tablet) {
            font-size: 1.2em;
        }
    }
}